.raise:hover,
.raise:focus {
  box-shadow: 0 .9em .9em  #3FB1E5;
 transform: translateY(-0.25em);
  
}

.button-submit:hover,
.button-submit:focus{
    border-color: #0F1827;
    margin: 0 auto;
}

.button-submit {
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
 /* margin: 0.5em;*/
  padding: .5em 2em;
  transition: 0.25s;
  left: 40%;
  position: relative;
}

.card-header{
  background-color: #3FB1E5;
  color: white;
  text-align: center;
  width: 100%;
  margin-top: 15px;
}

.linkAdd{
  float: right;
}

.linkAdd{
  color: black;
  cursor: pointer;
}
.linkAdd:hover{
  transform: scale(1.1);
}

.titular{
  font-weight: 700;
  font-size: large;
}

.textual{
  font-weight: 400;
  font-size: medium;
}