.fondo{
  min-height: calc(100vh - 10px);
}

.raise:hover,
.raise:focus {
  box-shadow: 0 .9em .9em  #3FB1E5;
 transform: translateY(-0.25em);
  
}

button:hover,
button:focus{
    border-color: #0F1827;
    margin: 0 auto;
}

.centrar{
  text-align: center;
}

button {
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
 /* margin: 0.5em;*/
  padding: .5em 2em;
  transition: 0.25s;
}

.card-header{
  background-color: #3FB1E5;
  color: white;
  text-align: center;
  width: 100%;
  margin-top: 15px;
}