<!-- Section: Design Block -->
<section class="">
    <!-- Jumbotron -->
    <div class="px-4 py-5 px-md-5 text-center text-lg-start" style="background-color: hsl(0, 0%, 96%)">
      <div class="container">
        <div class="row gx-lg-5 align-items-center">
            <div class="card">
              <div class="card-header">
                <h2>Mis datos</h2>
              </div>
              <div class="card-body py-5 px-md-5">
                <form [formGroup]="userForm" (submit)="OnSubmit()">
                  <!-- 2 column grid layout with text inputs for the first and last names -->
                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <label class="form-label" for="form3Example1">Nombre</label>
                        <input id="nombre" type="text" formControlName="nombre" class="form-control" />
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <label class="form-label" for="form3Example2">Apellido</label>
                        <input id="apellido" type="text" formControlName="apellido" class="form-control" />
                      </div>
                    </div>
                  </div>
  
                  <!-- Email input -->
                  <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example3">Email</label>
                    <input id="email" type="text" formControlName="email" class="form-control" />
                  </div>  

                  <!-- Tel input -->
                  <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example3">Teléfono</label>
                    <input id="telefono" type="text" formControlName="telefono" class="form-control" />
                  </div>
  
                  <!-- Password input -->
                  <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example4">Contraseña</label>
                    <input id="password" type="password" formControlName="password" class="form-control" placeholder="Dejar en blanco si no desea modificarla" />
                  </div>                  
                  
                  <!-- Password input -->
                  <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example4">Confirmar contraseña</label>
                    <input id="passwordConfirm" type="password" formControlName="passwordConfirm" class="form-control" placeholder="Dejar en blanco si no desea modificarla" />
                  </div>
  
                  <!-- Checkbox -->
                  <div class="form-check d-flex justify-content-center mb-4">
                    <label class="form-check-label" for="form2Example33">
                    <input class="form-check-input me-2" type="checkbox" value="" id="form2Example33" checked />
                      Recibir correo de confirmación
                    </label>
                  </div>
  
                  <!-- Submit button -->
                  <button type="submit" class="raise btn-block mb-4">
                    <h5>Actualizar</h5>
                  </button>

                </form>
              </div>
            </div>
        </div>
      </div>
    </div>
    <!-- Jumbotron -->
  </section>
  <!-- Section: Design Block -->