<ngb-carousel *ngIf="images" style="text-align:center; display:block background-color:gray">
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper" style="display:block">
        <p class="lema" >LLEVA TU NEGOCIO A LA CIMA <span style="font-size:25px; font-weight: 100;">↑</span></p>
        <img src="../../assets/img/inicio1_5.png" alt="Random first slide" style="height:500px">
      </div>
      <div class="carousel-caption">
        <h3>BIENVENIDO A EMPRENEGO</h3>
        <p>El lugar perfecto para emprendedores</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../assets/img/inicio2_5.jpg" alt="Random second slide" style="height:500px">
      </div>
      <div class="carousel-caption">
        <h3>ADMINSTRA TU NEGOCIO</h3>
        <p>Gracias a EMPRENEGO, administrar tu negocio será más fácil</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../assets/img/inicio3_5.jpg" alt="Random third slide" style="height:500px">
      </div>
      <div class="carousel-caption">
        <h3>CONOCE OTROS EMPRENDEDORES</h3>
        <p>EMPRENEGO podrá mostrar artículos únicos de otros emprendedores.</p>
      </div>
    </ng-template>
  </ngb-carousel>