.cont{
    margin-top: 50px;
    margin-bottom: 50px;
}
.r1{
    margin-left:1%;
}

.card-header{
    background-color: #3FB1E5;
    color: white;
    text-align: center;
    width: 100%;
}

.ch1{
    text-transform: uppercase;
    font-size:x-large;
}

.desc{
    height: 40%;
}

.sede{
    color:darkblue;
}

.modEmp{
    text-align: center;
}

.comentarios{
    height: auto;
}

.comentarios p.nomC{
    text-align: start;

}

.comentarios p.fecC, .masInfo{
    text-align: end;
    font-size: small;
    color: gray;
}
.masInfo span{
    cursor: pointer;
    color: rgb(0, 0, 0);
}

.raise:hover,
.raise:focus {
  box-shadow: 0 .9em .9em rgba(76,63,153,1);
  transform: translateY(-0.25em);
}

.button-submit:hover,
.button-submit:focus{
    border-color: #0F1827   ;
}

.button-submit {
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  padding: .5em 2em;
  transition: 0.25s;
}

.centrar{
    text-align: center;
}

.link{
    font-weight: 600;
    cursor: pointer;
    color: #3FB1E5;

}

.areaImg{
    text-align: center;
  }
.imagenBusiness{
    max-height: 300px;
    max-width: 100%;
}

abbr{
    cursor: pointer;
}

.deleteComment{
    cursor: pointer;
    color: #e53f3f;
}

.editComment{
    margin-left: 30px;
    cursor: pointer;
    color: #e5df3f;
}

.otrosProductos{
    cursor: pointer;
}
/*
.ngxImageZoomContainer {
    width: 400px!important;
    height: 400px !important;
}
#cuadro{
    width: 400px !important;
    height: 400px !important;
}
img .ngxImageZoomThumbnail{
max-width: 100% !important;
}
.ngxImageZoomContainer {
    height: 400px !important;
     width: 400px !important;
    }*/