<div class="container-fluid text-lg-start" class="cont">

    <div class="row r1">
        <div class="col-6">
            <div class="card">
                <div class="card-header ch1">
                    <p>Nombre producto</p>
                </div>
                <div class="card-body py-1 px-md-1">
                    <div class="col justify-content">
                        <div class="row pt-1">
                            <div class="desc">
                                Descripción producto
                            </div>
                        </div>
                        
                        <div class="row pt-1">
                            <i><p class="sede">Sede: </p></i>
                        </div>
                    </div>
                </div>
            </div>
            <p class="modEmp">¿Deseas conocer más sobre <a (click)="modalEmp">empresaYams</a>?</p>
        </div>
        

        <div class="col-6">
            <img src="../../assets/img/3.jpg">
        </div>
    </div>

    <br><br>

    <div class="m-0 row justify-content-center">
        <div class="col-8 text-center comentarios">
            <button class="raise mb-2"><h6>Comentar</h6></button>
            <br><br>
            <div class="card">
                <div class="card-header" style="height: 2rem;">
                    <p class="nomC">@nombreUsuario</p>
                </div>
                <div class="card-body py-1 px-md-1">
                    <p class="fecC">Fecha</p>
                    <div>Comentario</div>
                </div>
            </div>
        </div>
    </div>




</div>