<!-- Section: Design Block -->
<section class="container">
    <!-- Jumbotron -->
    <div class="px-4 py-4 px-md-4 text-center text-lg-start">
      <div class="container">
        <div class="row gx-lg-5 align-items-center">
            <div class="card">
              <div class="card-header">
                <h2> Mi inventario 
                  <a class="linkAdd" (click)="openXl(content,'none')">
                    <fa-icon [icon]="faCirclePlus"></fa-icon>
                  </a>
                </h2>
              </div>
              <div class="card-body py-1 px-md-1">
                <div class="row pt-1" *ngIf="this.products.length>0">
                  <div class="col d-flex justify-content-center">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class="thead-dark">
                                  <tr>
                                      <th scope="col">#</th>
                                      <th scope="col"><span class="encabezado" (click)="getAtributoSort('nombre')"><fa-icon [icon]="faSortAlphaAsc"></fa-icon>Nombre</span></th>
                                      <th scope="col"><span class="encabezado" (click)="getAtributoSort('stock')"><fa-icon [icon]="faSortAmountAsc"></fa-icon>Stock</span></th>
                                      <th scope="col"><span class="encabezado" (click)="getAtributoSort('minStock')"><fa-icon [icon]="faSortAmountAsc"></fa-icon>Stock mínimo</span></th>
                                      <th scope="col"><span class="encabezado" (click)="getAtributoSort('precioCompra')"><fa-icon [icon]="faSortAmountAsc"></fa-icon>Precio Compra</span></th>
                                      <th scope="col"><span class="encabezado" (click)="getAtributoSort('precioVenta')"><fa-icon [icon]="faSortAmountAsc"></fa-icon>Precio Venta</span></th>
                                      <th scope="col">Descripción</th>
                                      <th scope="col">Editar</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let prod of this.products; let i=index">
                                        <td>{{i+1}}</td>
                                        <td>{{reduceText(prod.nombre)}}</td>
                                        <td>{{prod.stock}}</td>
                                        <td>{{prod.minStock}}</td>
                                        <td>${{prod.precioCompra}}</td>
                                        <td>${{prod.precioVenta}}</td>
                                        <td>{{reduceText(prod.descripcion)}}</td>
                                        <td>
                                          <a class="linkAdd" (click)="openXl(content,prod)">
                                            <fa-icon [icon]="faEdit"></fa-icon>
                                          </a>
                                        </td>
                                  </tr>                                 
                              </tbody>
                          </table>
                      </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
    <!-- Jumbotron -->
  </section>
  <!-- Section: Design Block -->
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title">{{this.titleModal}}</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <div class="container">
        <div class="row gx-lg-5 align-items-center">
            <div class="card">
              <div class="card-header">
                <h2> {{this.subTitleModal}} </h2>
              </div>
              <div class="card-body py-5 px-md-5">
                <form [formGroup]="productForm" (submit)="OnSubmit()">
                  <!-- 2 column grid layout with text inputs for the first and last names -->
                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <label class="form-label" for="form3Example1">Nombre</label>
                        <input id="nombre" type="text" formControlName="nombre" maxlength="50" class="form-control" />
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <label class="form-label" for="form3Example2">Id Negocio</label>
                        <input id="idN" type="text" formControlName="idN" class="form-control"/>
                      </div>
                    </div>
                  </div>
                  <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example3">Descripción</label>
                    <textarea id="descripcion" type="text" formControlName="descripcion" class="form-control"></textarea>
                  </div>
                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <label class="form-label" for="form3Example1">Precio compra</label>
                        <input id="precioCompra" type="number" formControlName="precioCompra" class="form-control" />
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <label class="form-label" for="form3Example2">Precio venta</label>
                        <input id="precioVenta" type="number" formControlName="precioVenta" class="form-control" />
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <label class="form-label" for="form3Example1">Stock</label>
                        <input id="stock" type="number" formControlName="stock" class="form-control" />
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <label class="form-label" for="form3Example2">Stock Mínimo</label>
                        <input id="minStock" type="number" formControlName="minStock" class="form-control" />
                      </div>
                    </div>
                  </div> 
                  <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example3">Detalles</label>
                    <textarea id="detalles" type="text" formControlName="detalles" class="form-control"></textarea>
                  </div>
                  <div>
                    <div class="areaImg">
                      <img class="imagenProducto" *ngIf="this.url" [src]="apiLink+this.url">
                    </div>
                  </div>
                  <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example3">Imagen</label>
                    <input id="imagen" accept=".jpg,.png,.jpeg" type="file" (change)="getFile($event)" class="form-control"/>
                  </div>
                    
                  <!-- Submit button -->
                  
                <div class="centrar">
                  <button type="submit" class="raise btn-block mb-4 button-submit">
                    <h5>{{this.submitButton}}</h5>
                  </button>
                </div>
                </form>
              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Cerrar</button>
    </div>
  </ng-template>