.txtEmprenego{
    color: #3FB1E5;
    text-align: center;
}

#titulo{
    position: absolute;
    z-index: 9;
    transform: translate(-9px, -653px);
}

.logo{
    position: absolute;
    height: 430px;
    width: auto;
    transform: translate(60px, -466px); 
}
/*
#btnregister{
    background-color: #3FB1E5;
    border: none;
    margin: 0 auto;
    width:100%;
}*/

#slogan{
    color: hsl(217, 10%, 50.8%);
    font-size: 23px;
    text-align: center;
    transform: translate(5px, -112px);
}

#fondo{
    background-color: #0F1827;
    transform: translate(-71px, -5px);
    height: 633px;
    width:130%;
    border-radius: 15px;
    position: relative; 
       
}

.raise{
    /*box-shadow: 0 .9em .9em  #3FB1E5;
     transform: translateY(-0.25em);*/
     margin: 0 auto;
     width: 100%;   
}
.raise:hover,
.raise:focus {
  box-shadow: 0 .9em .9em  #3FB1E5;
 /* transform: translateY(-0.25em);*/
  margin: 0 auto;
  width: 100%;
}

@media screen and (max-width: 767px){
 /*   #btnregister{
            margin: 0 auto; 
    }*/

}
