.opciones {
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-end;
}

.navbar{
    background: rgb(15,24,39);
    background: linear-gradient(90deg, rgba(15,24,39,1) 0%, rgba(76,63,153,1) 80%, rgba(63,177,229,1) 100%);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
/*    height: 100px;*/
    border-color: #3fb1e5;
}

.navbar:hover{
    color: white;
}

.navbar-brand{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}