.opciones {
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-end;
}

.navbar{
    background: rgb(15,24,39);
    background: linear-gradient(90deg, rgba(15,24,39,1) 0%, rgba(76,63,153,1) 80%, rgba(63,177,229,1) 100%);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
/*    height: 100px;*/
    border-color: #3fb1e5;
}

.navbar:hover{
    color: white;
}

.navbar-brand{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

/*VERSIONES RESPONSIVAS DEL HEADER
@media screen and (max-width:320px) {
    .navbar{
        width: 525px !important;
    } 
}

@media screen and (max-width:480px) {
    .navbar{
        width: 525px !important;
    } 
}
*/

@media screen and (max-width:768px) {
    .collapse.navbar-collapse.opciones{
        margin-right: 30px;
    }
}

@media screen and (max-width:991px) {
    .collapse.navbar-collapse.opciones{
        margin-right: 30px;
    }
}

@media screen and (max-width:1024px) {
    .collapse.navbar-collapse.opciones{
        margin-right: 30px;
    }
}

@media screen and (max-width:1366px) {
    .collapse.navbar-collapse.opciones{
        margin-right: 30px;
    }
}
