<form class="searchForm" [formGroup]="searchForm" (submit)="OnSubmit()">
    <div class="row">
        <div class="form-outline">
          <label class="form-label" for="form3Example1">¿Qué estas buscando?</label>
          <input id="search" type="text" formControlName="search" class="form-control" placeholder="Palabras claves..." />
          <button type="submit" class="btn btn-success mb-2">Buscar</button>
        </div>
    </div>
</form>
<div class="row resultados">
    <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="card">
            <div class="card-header">
                Nombre empresa
            </div>
            <div class="card-body">
                <h5 class="card-title">Por: Nombre Dueño</h5>
                <p class="card-text">
                    Texto descriptivo de la empresa o emprendimiento, el cual será detallado por el creador del negocio
                    , cabe destacar ...
                </p>
                <p class="card-text">
                    <small class="text-muted">
                        Sede: Aguascalientes, Ags.
                    </small>
                </p>
                <button type="submit" class="btn btn-success mb-2">Visitar</button>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="card">
            <div class="card-header">
                Nombre empresa
            </div>
            <div class="card-body">
                <h5 class="card-title">Por: Nombre Dueño</h5>
                <p class="card-text">
                    Texto descriptivo de la empresa o emprendimiento, el cual será detallado por el creador del negocio
                    , cabe destacar ...
                </p>
                <p class="card-text">
                    <small class="text-muted">
                        Sede: Aguascalientes, Ags.
                    </small>
                </p>
                <button type="submit" class="btn btn-success mb-2">Visitar</button>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="card">
            <div class="card-header">
                Nombre empresa
            </div>
            <div class="card-body">
                <h5 class="card-title">Por: Nombre Dueño</h5>
                <p class="card-text">
                    Texto descriptivo de la empresa o emprendimiento, el cual será detallado por el creador del negocio
                    , cabe destacar ...
                </p>
                <p class="card-text">
                    <small class="text-muted">
                        Sede: Aguascalientes, Ags.
                    </small>
                </p>
                <button type="submit" class="btn btn-success mb-2">Visitar</button>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="card">
            <div class="card-header">
                Nombre empresa
            </div>
            <div class="card-body">
                <h5 class="card-title">Por: Nombre Dueño</h5>
                <p class="card-text">
                    Texto descriptivo de la empresa o emprendimiento, el cual será detallado por el creador del negocio
                    , cabe destacar ...
                </p>
                <p class="card-text">
                    <small class="text-muted">
                        Sede: Aguascalientes, Ags.
                    </small>
                </p>
                <button type="submit" class="btn btn-success mb-2">Visitar</button>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="card">
            <div class="card-header">
                Nombre empresa
            </div>
            <div class="card-body">
                <h5 class="card-title">Por: Nombre Dueño</h5>
                <p class="card-text">
                    Texto descriptivo de la empresa o emprendimiento, el cual será detallado por el creador del negocio
                    , cabe destacar ...
                </p>
                <p class="card-text">
                    <small class="text-muted">
                        Sede: Aguascalientes, Ags.
                    </small>
                </p>
                <button type="submit" class="btn btn-success mb-2">Visitar</button>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="card">
            <div class="card-header">
                Nombre empresa
            </div>
            <div class="card-body">
                <h5 class="card-title">Por: Nombre Dueño</h5>
                <p class="card-text">
                    Texto descriptivo de la empresa o emprendimiento, el cual será detallado por el creador del negocio
                    , cabe destacar ...
                </p>
                <p class="card-text">
                    <small class="text-muted">
                        Sede: Aguascalientes, Ags.
                    </small>
                </p>
                <button type="submit" class="btn btn-success mb-2">Visitar</button>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="card">
            <div class="card-header">
                Nombre empresa
            </div>
            <div class="card-body">
                <h5 class="card-title">Por: Nombre Dueño</h5>
                <p class="card-text">
                    Texto descriptivo de la empresa o emprendimiento, el cual será detallado por el creador del negocio
                    , cabe destacar ...
                </p>
                <p class="card-text">
                    <small class="text-muted">
                        Sede: Aguascalientes, Ags.
                    </small>
                </p>
                <button type="submit" class="btn btn-success mb-2">Visitar</button>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="card">
            <div class="card-header">
                Nombre empresa
            </div>
            <div class="card-body">
                <h5 class="card-title">Por: Nombre Dueño</h5>
                <p class="card-text">
                    Texto descriptivo de la empresa o emprendimiento, el cual será detallado por el creador del negocio
                    , cabe destacar ...
                </p>
                <p class="card-text">
                    <small class="text-muted">
                        Sede: Aguascalientes, Ags.
                    </small>
                </p>
                <button type="submit" class="btn btn-success mb-2">Visitar</button>
            </div>
        </div>
    </div>
</div>