.fondo{
    min-height: calc(100vh - 10px);
}

.searchForm{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 40px;
}
.form-control{
    width: 50%;
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
}
.resultados{
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
}
.card{
    margin-bottom: 20px;
}

.card button{
    text-align: center;
}

.card-header{
    background-color: rgba(76,63,153,1);
    color: white;
    font-family: Tahoma;
}

.raise:hover,
.raise:focus {
  box-shadow: 0 .9em .9em  #3FB1E5;
  transform: translateY(-0.25em);
}

button:hover,
button:focus{
    border-color: #0F1827   ;
}

button {
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: .5em 2em;
  transition: 0.25s;
}
.areaImg{
    text-align: center;
}
.imagenProducto{
    max-height: 200px;
    max-width: 100%;
}
.masProductos{
    color: #335898;
    cursor: pointer;
}

.titulo{
    font-weight: 700;
    font-size: larger;
} 