<div class="fondo" *ngIf="!this.authService.isLogged.getValue()"> 
<!--mostrar el carrousel-->
<app-carousel></app-carousel>
<div class="presentacion1" style="background-color: #000000; height:80px"></div>
<div class="quienes_somos">
  <h1>¿QUIENES SOMOS?</h1>
  <p class= "textoquienes_somos"><span style="color:#3FB1E5 ">"Emprenego"</span> surge de un pequeño grupo de Ingenieros en Sistemas Computacionales, 
    comprometidos en querer ayudar a pequeños y grandes emprendedores mediante tecnología a nuestro alcance. </p>
</div>
<h1 class="titulo_nuestroequipo"style="text-align:center"> NUESTRO EQUIPO</h1>

<div class="container-fluid " id="pics">
    <!--<table class="table col-md-3">
      <td>
        <div class="div-imagen">
          <img class="arnoldo" src="../../assets/img/arnoldo.jpg"/>
        </div>
      </td>
      <td>
        <div class="div-imagen2">
          <img class="loredana" src="../../assets/img/loredana.jpg"/>
        </div>
      </td>
      <td>
        <div class="div-imagen3">
          <img class="yami" src="../../assets/img/yami.jpg"/>
        </div>
        </td>
    </table>-->

        <div class="card-pic arnoldo">
          <img src="../../assets/img/arnoldo.jpg"/>
        </div>
        <div class="card-pic lore">
          <img src="../../assets/img/loredana.jpg"/>
        </div>
        <div class="card-pic yami">
          <img src="../../assets/img/yami.jpg"/>
        </div>
</div>
<div class=" container dividir_columnas">
  <div class="mision_vision">
    <h1>MISIÓN</h1>
    <p class= "textomision_vision">Nuestra misión es que los emprendedores puedan crecer 
      sus ventas mediante esta herramienta web programada directamente por nosotros.
      </p>
  </div>

  <div class="container mision_vision">
    <h1>VISIÓN</h1>
    <p class= "textomision_vision"> Nuestra visión es convertirnos en la 
      empresa más confiable para impulsar a aquellos emprendedores que 
    decidan iniciar su viaje en el mundo del emprendimiento</p>
  </div>
</div>

<div class="div_otros_negocios">

  <p class="texto_otros_negocios">Conoce productos de otros emprendedores, da click aquí abajo</p>
  <a [routerLink]="'../allBusiness'" class="btn_otrosnegocios">Otros negocios</a>
</div>

  <div class="contacto">
  <p class="contactanos">¡CONTACTANOS! </p>
  <p class="texto_contactanos">Comunicate a Emprenego por medio de whatsapp o por medio de nuestro 
    correo electrónico emprenego@gmail.com</p> 
  <a class="btnwa" target="_blank" href="https://wa.me/524492256726"><img class="logo_wa"src="../../../assets/img/logo_whatsapp2.png"></a>
  </div>
</div>
<div class="container" *ngIf="this.authService.isLogged.getValue()">

  <!--<div class="row px-4 pt-3">
      <div class="col-12">
          <h2>Por si se quiere título</h2>
      </div>
  </div>-->

  <div class="row px-4 pt-3">
      <div class="col-12 py-3">
      </div>
  </div>
  <div>

    <div class="card-group">
      <div class="card"> <!--style="width: 18rem;"-->
        <a [routerLink]="'/myPerfil'"><img src="../../../assets/img/1.jpg" class="card-img-top" alt="Imagen de mis datos"></a>
        <div class="card-body">
          <p class="card-text">¡Actualiza tus datos personales para estar en contacto!</p>
          <button type="button" class="raise" [routerLink]="'/myPerfil'"><h5>Mis Datos</h5></button>
        </div>
      </div>
    
      <div class="card"> <!--style="width: 18rem;"-->
        <a [routerLink]="'/myBusiness'"><img src="../../../assets/img/2.jpg" class="card-img-top" alt="Imagen de mi negocio"></a>
        <div class="card-body">
          <p class="card-text">¡Podrás controlar tus artículos, finanzas, inventario y registro de actividades!</p>
            <button type="button" class="raise" id="slide" [routerLink]="'/myBusiness'"><h5>Mi negocio</h5></button>
        </div>
      </div>
      
      <div class="card"> <!--style="width: 18rem;"-->
        <a [routerLink]="'../'"><img src="../../../assets/img/3.jpg" class="card-img-top" alt="Imagen de otros negocios"></a>
        <div class="card-body" style="align-items: center;">
          <p class="card-text">¡Observa otros negocios para apoyar las micro, pequeñas y medianas empresas!</p>
          <button type="button" class="raise" [routerLink]="'/allBusiness'"><h5>Otros negocios</h5></button>
        </div>
      </div>    
          <!--<div class="col-12 text-center itemsEmpresa" *ngIf="!aspirantes">
              <h5>No se encontraron resultados</h5>
          </div>-->
    </div>

      <div class="contacto" style="border-radius:6px; height: 70%; opacity: 1;">
      <p class="contactanos" style="font-size:150%">Estimado emprendedor: </p>
      <p class="texto_contactanos" style="font-size: 100%;">Si tienes alguna duda o sugerencia comunicate al whatsapp +52 4492256727 o al correo emprenego@gmail.com</p> 
      <a class="btnwa" target="_blank" href="https://wa.me/524492256726"><img class="logo_wa"src="../../../assets/img/logo_whatsapp2.png"></a>
      </div>
  </div>
  
  
  <div class="row px-4 pt-3">
    <div class="col-12 py-3">
    </div>
  </div>
</div>



