<div class="container">
  <!--<div class="row px-4 pt-3">
      <div class="col-12">
          <h2>Por si se quiere título</h2>
      </div>
  </div>-->

  <div class="row px-4 pt-3">
      <div class="col-12 py-3">
      </div>
  </div>
  <div>

    <div class="card-group">
      <div class="card"> <!--style="width: 18rem;"-->
        <a [routerLink]="'/myPerfil'"><img src="../../../assets/img/1.jpg" class="card-img-top" alt="Imagen de mis datos"></a>
        <div class="card-body">
          <p class="card-text">¡Actualiza tus datos personales para estar en contacto!</p>
          <button type="button" class="raise" [routerLink]="'/myPerfil'"><h5>Mis Datos</h5></button>
        </div>
      </div>
    
      <div class="card"> <!--style="width: 18rem;"-->
        <a [routerLink]="'/myBusiness'"><img src="../../../assets/img/2.jpg" class="card-img-top" alt="Imagen de mi negocio"></a>
        <div class="card-body">
          <p class="card-text">¡Podrás controlar tus artículos, finanzas, inventario y registro de actividades!</p>
            <button type="button" class="raise" id="slide" [routerLink]="'/myBusiness'"><h5>Mi negocio</h5></button>
        </div>
      </div>
      
      <div class="card"> <!--style="width: 18rem;"-->
        <a [routerLink]="'../'"><img src="../../../assets/img/3.jpg" class="card-img-top" alt="Imagen de otros negocios"></a>
        <div class="card-body" style="align-items: center;">
          <p class="card-text">¡Observa otros negocios para apoyar las micro, pequeñas y medianas empresas!</p>
          <button type="button" class="raise" [routerLink]="'/allBusiness'"><h5>Otros negocios</h5></button>
        </div>
      </div>    
          <!--<div class="col-12 text-center itemsEmpresa" *ngIf="!aspirantes">
              <h5>No se encontraron resultados</h5>
          </div>-->
    </div>


  </div>
  
  
  <div class="row px-4 pt-3">
    <div class="col-12 py-3">
    </div>
  </div>
</div>

<app-carousel></app-carousel>

