<div class="container-fluid d-flex fondoBusiness">
    <div class="col-3 my-4 section1 menu-business d-lg-block d-none">
        <div class="row section1-1" [routerLink]="'/myBusiness/register'" [style]="setBackground('register')">Ir a mi negocio</div>
        <div class="row section1-1" [routerLink]="'/myBusiness/inventary'" [style]="setBackground('inventary')">Inventario</div>
        <div class="row section1-1" [routerLink]="'/myBusiness/finance'" [style]="setBackground('finance')">Finanzas</div>
        <div class="row section1-1" [routerLink]="'/myBusiness/activity'" [style]="setBackground('activity')">Actividades</div>
        <div class="row section1-1" [routerLink]="'/myBusiness/products'" [style]="setBackground('products')">Administración de Productos</div>
        <div class="row section1-1" [routerLink]="'/myBusiness/premium'" [style]="'display: flex;'+setBackground('premium')">
            Premium
            <img class="justify-content-end" src="../../../assets/img/premium.png" style="width:45px; height:22px;"/>
        </div>
    </div>
    
    <div class="col-lg-9 col-12">
        <!--Contenido de las opciones-->
        <!--
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="..."></iframe>
            </div>
        -->
        <router-outlet></router-outlet>
    </div>
</div>