.fondoBusiness{
  min-height: calc(100vh - 10px);
}

.raise:hover,
.raise:focus {
  box-shadow: 0 .9em .9em  #3FB1E5;
  transform: translateY(-0.25em);
}

button:hover,
button:focus{
    border-color: #0F1827   ;
}

button {
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: .5em 2em;
  transition: 0.25s;
}

.section1{
  background-color: #0F1827;
  border-radius: 1rem 1rem;
  color: white;
  padding: 1em;
  font-size: xx-large;
}

.section1-1:hover{
  background-color: #224073;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.menu-business{
  font-weight: 500;
  font-size: 20pt;
  cursor: pointer;
}