<!-- Section: Design Block -->
<section class="">
    <!-- Jumbotron -->
    <div class="px-4 py-4 px-md-4 text-center text-lg-start">
      <div class="container">
        <div class="row gx-lg-5 align-items-center">
            <div class="card">
              <div class="card-header">
                <h2> Mis actividades 
                  <a class="linkAdd" (click)="openXl(content,'none')">
                    <fa-icon [icon]="faCirclePlus"></fa-icon>
                  </a>
                </h2>
              </div>
              <div class="card-body">
                <div class="row pt-1" *ngIf="this.activities.length>0">
                  <div class="col d-flex justify-content-center">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class="thead-dark">
                                  <tr>
                                      <th scope="col">#</th>
                                      <th scope="col"><span class="encabezado" (click)="getAtributoSort('estado')"><fa-icon [icon]="faSortUp"></fa-icon>Estado</span></th>
                                      <th scope="col">Tarea</th>
                                      <th scope="col"><span class="encabezado" (click)="getAtributoSort('inicio')"><fa-icon [icon]="faSortUp"></fa-icon>Inicio</span></th>
                                      <th scope="col"><span class="encabezado" (click)="getAtributoSort('termino')"><fa-icon [icon]="faSortUp"></fa-icon>Término</span></th>
                                      <th scope="col" colspan="2">Acciones</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let act of this.activities; let i=index">
                                        <td>{{i+1}}</td>
                                        <td>{{act.estado}}</td>
                                        <td>{{reduceText(act.tarea)}}</td>
                                        <td>{{act.fechaInicio.toString().substring(0,10)}}</td>
                                        <td>{{act.fechaFinal.toString().substring(0,10)}}</td>
                                        <td>
                                          <a class="linkAdd" (click)="openXl(content,act)">
                                            <fa-icon [icon]="faEdit"></fa-icon>
                                          </a>
                                        </td>
                                        <td>
                                          <button class="btn btn-danger" (click)="delete(act)">Eliminar</button>
                                        </td>
                                  </tr>                                 
                              </tbody>
                          </table>
                      </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
    <!-- Jumbotron -->
  </section>
  <!-- Section: Design Block -->
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title">{{this.titleModal}}</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <div class="container">
        <div class="row gx-lg-5 align-items-center">
            <div class="card">
              <div class="card-header">
                <h2> {{this.subTitleModal}} </h2>
              </div>
              <div class="card-body py-5 px-md-5">
                <form [formGroup]="activityForm" (submit)="OnSubmit()">
                  <!-- 2 column grid layout with text inputs for the first and last names -->
                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <label class="form-label" for="form3Example1">Estado (Elegir...)</label>
                        <select id="nombre" type="text" formControlName="estado" class="form-control" >
                          <option value="Pendiente">Pendiente</option>
                          <option value="Realizado">Realizado</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <label class="form-label" for="form3Example2">Id Usuario</label>
                        <input id="idU" type="text" formControlName="idU" class="form-control" readonly/>
                      </div>
                    </div>
                  </div>
                  <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example3">Tarea</label>
                    <textarea id="tarea" type="text" formControlName="tarea" class="form-control"></textarea>
                  </div>
                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <label class="form-label" for="form3Example1">Fecha inicio</label>
                        <input id="fechaInicio" type="date" formControlName="fechaInicio" class="form-control" />
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <label class="form-label" for="form3Example1">Fecha final</label>
                        <input id="fechaFinal" type="date" formControlName="fechaFinal" class="form-control" />
                      </div>
                    </div>
                  </div>
                  <!-- Submit button -->
                  
                <div class="centrar">
                  <button type="submit" class="raise btn-block mb-4 button-submit">
                    <h5>{{this.submitButton}}</h5>
                  </button>
                </div>
                </form>
              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Cerrar</button>
    </div>
  </ng-template>